@font-face {
  font-family: 'MyFont';
  src: url('/CabinetGrotesk-Variable.woff2') format('woff2');     
  font-weight: auto;
  font-display: swap;
  font-style: normal;
}
@font-face {
    font-family: 'Maloney';
    src: url('/Maloney.woff2')format('woff2');
    font-weight: 500;
    font-display: swap;
}