@mixin area($name){
    grid-area: $name;
}
.heroSection{

    img{
        width: 100%;
        object-fit: cover;

    }
    .heroSection{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1600px;
        margin: 0 auto;
        
    .imgContainer{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas:"a b b"
                            "a c d";
        grid-template-columns: 3fr 1fr 1fr;
        gap: 1rem;

        .heroImg1{
            @include area(a);
            

        }
        .heroImg2{
            @include area(b);
            transform: scaleY(-1);
            transform-origin: center;
            
        }
        .heroImg3{
            @include area(c);
            align-self: end;
            
        }
        .heroImg4{
            @include area(d);
            align-self: end;
         }
    }
}
    
}