.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  position: fixed;
  left: 0;
  top: 0;

  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .circle {
    display: none;
  }
}
