.preloader {
  height: 100vh;
  width: 100%;
  background: transparent;
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  .loaderBar {
    flex: 1;
    background-color: #fff;
  }
}
