.imageContainer{
    margin-top: clamp(2rem, 5vw, 4rem);
    position: relative;
    .backgroundShape{
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
    }
    .imageFlex{
        display:flex;
        justify-content: space-between;
        align-items: center;
        overflow:hidden;
        img{
            width: 100%;
            
        }

    }
}